@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #d6c4b8;
  --lightOrange: #e69077;
  --orange: #da4348;
  --darkRed: #8b3e50;
  --black: #2e3c45;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--white);
  color: var(--black);

  main {
    flex: 1 1 auto;
  }
}

.gallery {
  &-grid {
    display: flex;
    margin-left: -10px;
    width: auto;
  }

  &-grid_column {
    padding-left: 10px;
    width: 50%;

    @media (min-width: 700px) {
      width: 33.33%;
    }

    @media (min-width: 1100px) {
      width: 25%;
    }
  }
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--black);
  position: relative;

  animation: loaderAnim 1.5s linear infinite;

  span {
    position: absolute;
    width: 25%;
    height: 25%;
    background-color: #d6c4b8;
    border-radius: 50%;

    &:nth-child(1) {
      top: 11px;
      left: 11px;
    }
    &:nth-child(2) {
      top: 11px;
      right: 11px;
    }
    &:nth-child(3) {
      bottom: 11px;
      left: 11px;
    }
    &:nth-child(4) {
      bottom: 11px;
      right: 11px;
    }
  }
}

@keyframes loaderAnim {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
